{% extends '../base.html' %}
{% load mathfilters %}
{% block csslink %}
	<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
	<div id="board">
		<form id="search_form" action="" method="post">
			<input type="text" id="kwd" name="kwd" value="">
			<input type="submit" value="찾기">
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th></th>
			</tr>
			{% for board in boardlist %}
			<tr>
				<td>
					{{ forindex | sub:forloop.counter0 }}
				</td>
				{% if board.depth > 0 %}
				<td class="left" style="text-align:left; padding-left:{{board.depth | mul:20 }}px">
					<img src="/assets/images/reply.png">
					<a href="/board/view?no={{ board.id }}">{{ board.title }}</a>
				</td>
				{% else %}
					<td class="left" style="text-align:left; padding-left:{{board.depth | mul:20 }}px">
						<a href="/board/view?no={{ board.id }}">{{ board.title }}</a>
					</td>
				{% endif %}
				<td>{{ board.user_id }}</td>
				<td>{{ board.hit }}</td>
				<td>{{ board.regdate | date:"Y-m-d H:i:s" }}</td>

				{% if request.session.authuser.id == board.user_id  %}
					<td><a href="/board/delete?no={{ board.id }}" class="del"><img src="/assets/images/recycle.png"/>></a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>

		<!-- pager 추가 -->
		<div class="pager">
			<ul>
				{% if prevpage > 0 %}
					<li><a href="/board?currentpage={{ prevpage }}">◀</a></li>
				{% else %}
					<li>◀</li>
				{% endif %}
				{% for page in forloop %}
					{% if endpage < page %}
						<li>{{ page }}</li>
					{% elif currentpage == page %}
						<li class="selected">{{ page }}</li>
					{% else %}
						<li><a href='/board?currentpage={{ page }}'>{{ page }}</a></li>
					{% endif %}
				{% endfor %}

				{% if nextpage > 0 %}
					<li><a href='/board?currentpage={{ nextpage }}'>▶</a></li>
				{% else %}
					<li>▶</li>
				{% endif %}

			</ul>
		</div>
		<!-- pager 추가 -->

		<div class="bottom">
			<a href='/board/writeform' id="new-book">글쓰기</a>
		</div>
	</div>
{% endblock %}